html, body {
  margin-left: 5%;
  padding: 0;
  background-color: #111111;
  font-family: sans-serif;
}

canvas {
  display: block;
}

body {
  display:flex;
  flex-direction:column;
}

h1 {
  margin: 5% 0% 0% 0%;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
}

p {
  margin: 2% 0% 2% 0%;
  width: 85%;
  font-size: 14px;
  line-height: 1.4;
  color: #EBEBEB;
}

#info {
  margin-top: 0%;
  margin-bottom: 4%;
  color: #484848;
}

#total{
  color: #EBEBEB;
}

#social{
  color: #EBEBEB;
}

#forward{
  color: #EBEBEB;
}

#direct{
  color: #EBEBEB;
}

#remark{
  color: #484848;
  font-size: 14px;
  line-height: 1;
}

#credit {
  margin-top: 8%;
}

#red{
  color: #c8281e;
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px;
 }
  5% {
    opacity: 1;
    top: 0px;
 }
  50.9% {
    opacity: 1;
    top: 0px;
 }
  55.9% {
    opacity: 0;
    top: 10px;
 }
}
@keyframes enter {
  0% {
    opacity: 0;
    top: -10px;
 }
  5% {
    opacity: 1;
    top: 0px;
 }
  50.9% {
    opacity: 1;
    top: 0px;
 }
  55.9% {
    opacity: 0;
    top: 10px;
 }
}
@-moz-keyframes enter {
  0% {
    opacity: 0;
    top: -10px;
 }
  5% {
    opacity: 1;
    top: 0px;
 }
  50.9% {
    opacity: 1;
    top: 0px;
 }
  55.9% {
    opacity: 0;
    top: 10px;
 }
}

#loader {
  position: absolute;
  left: 45%;
  top: 52%;
  /* margin-left: 50%; */
  /* margin-top: 30%; */
}
.square {
  background-color: #484848;
  width: 24px;
  height: 24px;
  float: left;
  top: -10px;
  margin-right: 6px;
  margin-top: 6px;
  position: relative;
  opacity: 0;
  -webkit-animation: enter 6s infinite;
  animation: enter 6s infinite;
}
.enter {
  top: 0px;
  opacity: 1;
}
.square:nth-child(1) {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.square:nth-child(2) {
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.square:nth-child(3) {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
  background: #EBEBEB;
}
.square:nth-child(4) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.square:nth-child(5) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.square:nth-child(6) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.square:nth-child(8) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.square:nth-child(9) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.clear {
  clear: both;
}
.last {
  margin-right: 0;
}
